<!DOCTYPE html>
<html>
<header>
    <h1>Signup</h1>
</header>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <b>{{ message }}</b>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="POST" action="/signup">
        Username:<input type="text" name="username" placeholder="username"><br>
        Email:<input type="text" name="email" placeholder="email"><br>
        Password:<input type="text" name="password" placeholder="password"><br>
        Are you a channel owner?<input type="checkbox" name="channel_owner"><br>
        <input type="submit" value="Sign Up">
    </form>
</body>

</html>